/.git
/.github
/.cursor
/.context
/.env
/.env.*
!/.env.example
/.editorconfig
/.gitattributes
/README.md
/docker
/docker-compose.yml
/node_modules
/vendor
/tests
/phpunit.xml
/frankenphp
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/public/hot
/public/build
